body {
	margin:0px;
	padding:0px;
	height:100%
}

.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */

canvas.emscripten {
	border: 0px none;
	margin: 0px;
	background-color: black;
	width:100%;
	height:100%;
}

#emscripten_logo {
	display: inline-block;
	margin: 0;
}

.spinner {
	height: 30px;
	width: 30px;
	margin: 0;
	margin-top: 20px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;

	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;

	border-left: 5px solid rgb(235, 235, 235);
	border-right: 5px solid rgb(235, 235, 235);
	border-bottom: 5px solid rgb(235, 235, 235);
	border-top: 5px solid rgb(120, 120, 120);

	border-radius: 100%;
	background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#status {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 20px;
	font-weight: bold;
	color: rgb(120, 120, 120);
}

#progress {
	height: 20px;
	width: 30px;
}

#controls {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 30px;
	margin-right: 20px;
}

#output {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	margin-top: 10px;
	border-left: 0px;
	border-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	background-color: black;
	color: white;
	font-family: 'Lucida Console', Monaco, monospace;
	outline: none;
}

.button {
	border-color:#e0e0e0;
	border-radius:3px;
	border-style:solid;
	border-width:1px 1px 2px;
	color:#303030;
	font-family: monospace;
	font-size: .9em;
	padding:1px 6px;
	white-space:nowrap
}

table.controlhelp td:first-child {
	text-align: right;
}

table.controlhelp td:nth-child(2) {
	padding-left: 1em;
	padding-right: 1em;
	text-align: right;
}

table.mode_table {
	margin: auto;
	width: 90%;
	border-spacing: 0;
}

table.mode_table tr {
	padding: 0px;
	margin: 0px;
}

table.mode_table td {
	padding: 10px;
	margin: 0px;
	text-align: left;
}

table.pathTable {
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	border-spacing: 0;
}

table.pathTable pre
{
	margin:0;
	display:inline-block;
	text-align:left;
	font-family: ‘Courier New’, Courier, monospace;
}

table.pathTable td {
	padding: 0;
	margin: 0;
}

table.pathTable td:first-child {
	text-align: right;
	width: 50%;
	vertical-align: top;
	padding-right: 1em;
}

table.pathTable td:nth-child(2) {
	text-align: left;
}

div.seq_desc {
	/* border: 1px solid black; */
	margin: 1em;
	margin-left: 1em;
	padding: 0.5em;
	background: white;
	color: black;
}

div.canvas_container {
	position:absolute;
	top: 0;
	left: 0;
	width: 75%;
	height: 100%;
	padding: 0px;
	border: 0px none;
	margin: 0px;
	background: black;
}

div.sidebar {
	position: absolute;
	top: 0;
	left: 75%;
	width: 25%;
	padding: 0px;
	margin: 0px;
	height: 100%;
	overflow: auto;
	text-align: center;
}

div.selection_display {
	text-align: center;
	width: 90%;
	background: gold;
	padding: 0;
	padding-bottom:1em;
	padding-top:1em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

div#info_modified {
	border: 2px dashed red;
	width: 60%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.2em;
	display: none;
}

a.position_indicator {
	font-weight: bold;
}
