.link {
  stroke-width: 3px;
}
.node {
  stroke: black;
  fill: white;
}
.node_label {
	text-anchor: middle;
}
.link_label {
	text-anchor: middle;
	font-weight: bold;
}
.link_info {
	bottom: 0px;
	position: fixed;
	margin: 10px;
}
